<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Empresa</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="text/javascript">$(document).ready(function() {
                iniciarDatos();
            });</script>
        <style type="text/css">
            .hover:hover{background-color: #0081c2 !important; background: none;}
        </style>
    </h:head>
    <h:body>
        <div id="top" class="top">
            <h1><img src="../../resources/imagenes/banner.jpg" width="100%" height="150" /></h1>
            <h:form id="formID">                        
                <p:menubar>
                    <p:menuitem value="Home" action="comun.xhtml" icon="ui-icon-home"/>
                    <p:submenu label="Avisos" icon="ui-icon-bookmark">
                        <p:menuitem value="Nuevo Aviso" url="nuevoAviso.xhtml" icon="ui-icon-plus" />
                    </p:submenu>
                    <p:submenu label="Postulaciones" icon="ui-icon-person">
                        <p:menuitem value="Ver Postulaciones" url="verPostulaciones" icon="ui-icon-search"/>                        
                    </p:submenu>                   
                    <p:menuitem value="Salir" action="salir.xhtml" icon="ui-icon-power"/>
                </p:menubar> 
            </h:form>
        </div>        
        <div id="center" class="center">
            <ui:insert name="center"></ui:insert>
        </div>       
    </h:body>
</html>
