<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="comun.xhtml">        
        <ui:define name="center">
            <h:form id="formNuevoAvisoID" style="width:100%;height:100%; background: rgba(64,146,180,0.1)">
                <p:remoteCommand  name="iniciarDatos"                                  
                                  actionListener="#{nuevoAvisoControlador.iniciarDatos()}" 
                                  update="formNuevoAvisoID"
                                  process="@this"/>
                <p:growl id="growl"/>
                <p:panel id="panelAvisoID" header="NUEVO AVISO" style="height: auto; width: 900px; background: white; left: 50%; margin-left: -450px; position: relative">                    
                    <b><p:outputLabel value="Puesto / Titulo del aviso"/></b>
                    <p:inputText value="#{nuevoAvisoDataManager.aviso.avTitulo}" style="width: 100%" required="true" requiredMessage="Título Requerido" maxlength="100"/>   
                    <p:separator style="background-color:  white; border: 0; background: none" />                                                             
                    <table>
                        <tr>
                            <td><b><p:outputLabel value="Descripción del puesto"/></b></td>                              
                        </tr>
                        <tr>
                            <td><p:editor id="editor" value="#{nuevoAvisoDataManager.aviso.avDescripcion}" width="600" height="300" controls="bold italic underline strikethrough bullets numbering" required="true" requiredMessage="Descripción Requerida" maxlength="800"/></td>
                            <td>
                                <img src="../../resources/imagenes/icono1.jpg" width="8%" height="20" /><p:outputLabel value="Copiar de…" /><br/>
                                <p:panel id="panel1_1ID" header="Tus ultimos avisos" style="width: 250px; height: 100px;">

                                </p:panel>
                            </td>
                        </tr>                                           
                    </table> 
                    <p:separator style="background-color:  white; border: 0; background: none"/>     
                    <table>
                        <tr>
                            <td><p:selectBooleanCheckbox value="#{nuevoAvisoDataManager.aviso.avDiscapacitado}"/></td>
                            <td><p:outputLabel value="Postulantes discapacitados" style="font-size: 11px"/></td>
                        </tr>
                    </table>
                    <p:separator style="background-color:  white; border: 0; background: none"/>  
                    <b><p:outputLabel value="Área de publicación"/></b>
                    <table style="border: 1px solid #ddd; background: #f6f6f6; padding: 5px; width: 100%">
                        <tr>
                            <td><p:selectOneMenu id="areaID" value="#{nuevoAvisoDataManager.aviso.arId}" required="true" requiredMessage="Area Requerido" style="width:375px;font-size: 14px">                                    
                                    <f:selectItems value="#{nuevoAvisoControlador.area}" />
                                    <f:converter converterId="areaConvertidor"/>
                                    <p:ajax event="change" update="subAreaID"/>
                                </p:selectOneMenu>
                                <p:selectOneMenu id="subAreaID" value="#{nuevoAvisoDataManager.aviso.saId}" required="true" requiredMessage="SubArea Requerido" style="width:375px;font-size: 14px">                                    
                                    <f:selectItems value="#{nuevoAvisoControlador.subarea}" />
                                    <f:converter converterId="subareaConvertidor"/>
                                </p:selectOneMenu></td>
                        </tr>
                    </table>
                    <p:separator style="background-color:  white; border: 0; background: none"/> 
                    <b><p:outputLabel value="Preguntas"/></b>
                    <p:panel id="panID" style="border: 1px solid #ddd; border-radius: 0px; background: #f6f6f6">
                        <table>                            
                            <tr>
                                <td><p:commandButton value="Agregar pregunta" update=":formNuevoAvisoID:panID" actionListener="#{nuevoAvisoControlador.agregarPreguntas}" process="@this" style="font-size: 14px" icon="ui-icon-plus"  disabled="#{nuevoAvisoDataManager.preguntas1}"/></td>
                            </tr>
                            <tr>
                                <td><p:separator style="background-color:  white; border: 0; background: none"/></td>
                            </tr>
                            <tr>
                                <td><p:inputText id="preg1" value="#{nuevoAvisoDataManager.pregunta}" style="font-size: 14px; width: 386px; vertical-align: inherit" placeholder="Pregunta" maxlength="50" rendered="#{nuevoAvisoDataManager.preguntas}" required="#{nuevoAvisoDataManager.preguntas}" requiredMessage="Formule su pregunta"/></td>
                                <td><p:commandButton style="width: 15px; height: 15px; vertical-align: inherit" icon="ui-icon-closethick" rendered="#{nuevoAvisoDataManager.preguntas}" update=":formNuevoAvisoID:panID" actionListener="#{nuevoAvisoControlador.eliminarPreguntas}" process="@this"/> </td>
                            </tr>
                            <tr>
                                <td><p:inputText id="preg2" value="#{nuevoAvisoDataManager.pregunta2}" style="font-size: 14px; width: 386px; vertical-align: inherit" placeholder="Pregunta" maxlength="50" rendered="#{nuevoAvisoDataManager.preguntas2}" required="#{nuevoAvisoDataManager.preguntas2}" requiredMessage="Formule su pregunta"/></td>
                                <td><p:commandButton style="width: 15px; height: 15px; vertical-align: inherit" icon="ui-icon-closethick" rendered="#{nuevoAvisoDataManager.preguntas2}" update=":formNuevoAvisoID:panID" actionListener="#{nuevoAvisoControlador.eliminarPreguntas}" process="@this"/> </td>
                            </tr>
                            <tr>
                                <td><p:inputText id="preg3" value="#{nuevoAvisoDataManager.pregunta3}" style="font-size: 14px; width: 386px; vertical-align: inherit" placeholder="Pregunta" maxlength="50" rendered="#{nuevoAvisoDataManager.preguntas3}" required="#{nuevoAvisoDataManager.preguntas3}" requiredMessage="Formule su pregunta"/></td>
                                <td><p:commandButton style="width: 15px; height: 15px; vertical-align: inherit" icon="ui-icon-closethick" rendered="#{nuevoAvisoDataManager.preguntas3}" update=":formNuevoAvisoID:panID" actionListener="#{nuevoAvisoControlador.eliminarPreguntas}" process="@this"/> </td>
                            </tr>
                        </table>                                                                        
                    </p:panel>
                    <p:separator style="background-color:  white; border: 0; background: none"/> 
                    <b><p:outputLabel value="Requisitos"/></b>
                    <table style="border: 1px solid #ddd; background: #f6f6f6; padding: 5px; width: 100%">
                        <tr>
                            <td><p:outputLabel value="Lugar de residencia" style="font-size: 13px; vertical-align: inherit"/>
                                <p:selectOneMenu id="provID" value="#{nuevoAvisoDataManager.aviso.proId}" required="true" requiredMessage="Provincia Requerido" style="width:375px;font-size: 14px; vertical-align: inherit;">                                    
                                    <f:selectItems value="#{nuevoAvisoControlador.provincia}" />
                                    <f:converter converterId="provinciaConvertidor"/>
                                </p:selectOneMenu></td>
                        </tr>
                    </table>
                    <p:separator style="background-color:  white; border: 0; background: none"/> 
                    <!--                    <b><p:outputLabel value="Preguntas"/></b>
                                        <table style="border-bottom: 1px solid #ddd; margin-bottom: 0; background: #f6f6f6; padding: 5px;">
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </table>
                                        <p:separator style="background-color:  white; border: 0; background: none"/>-->                    
                    <b><p:outputLabel value="Salario"/></b>
                    <table style="border: 1px solid #ddd; background: #f6f6f6; padding: 5px; width: 100%">
                        <tr>
                            <td><p:outputLabel value="Entre" style="font-size: 13px"/>
                                <p:inputText value="#{nuevoAvisoDataManager.salarioMin}" style="max-width: 225px; height: 13px; width: 100px; font-size: 13px" placeholder="$" disabled="#{nuevoAvisoDataManager.salario}">
                                    <f:validator binding="#{numeroPositivoValidador}"/>
                                </p:inputText>                            
                                <p:outputLabel value="y" style="font-size: 13px"/><p:inputText value="#{nuevoAvisoDataManager.salarioMax}" style="max-width: 225px; height: 13px; width: 100px; font-size: 13px" placeholder="$" disabled="#{nuevoAvisoDataManager.salario}">
                                    <f:validator binding="#{numeroPositivoValidador}"/>
                                </p:inputText></td>                                                       
                        </tr>
                        <tr>
                            <td><p:selectBooleanCheckbox value="#{nuevoAvisoDataManager.salario}" style="vertical-align: inherit"/>
                                <p:outputLabel value="Solicitar salario pretendido al postulante" style="font-size: 11px; vertical-align: inherit"/></td>
                        </tr>
                    </table>
                    <p:separator style="background-color:  white; border: 0; background: none"/>
                    <table>
                        <tr>
                            <td><b><p:outputLabel value="Tipo de puesto"/></b></td>
                        </tr>
                        <tr>
                            <td><p:menuButton id="tipoPuestoID" value="#{nuevoAvisoDataManager.aviso.avTipoPuesto}" style="font-size: 14px;">
                                    <p:menuitem value="Fines de semana" actionListener="#{nuevoAvisoControlador.tipoPuestoAvisoActualizar('Fines de semana')}" update="tipoPuestoID" styleClass="hover"/>
                                    <p:menuitem value="Full-time" actionListener="#{nuevoAvisoControlador.tipoPuestoAvisoActualizar('Full-time')}" update="tipoPuestoID" styleClass="hover"/>
                                    <p:menuitem value="Part-time" actionListener="#{nuevoAvisoControlador.tipoPuestoAvisoActualizar('Part-time')}" update="tipoPuestoID" styleClass="hover"/>
                                    <p:menuitem value="Pasantía" actionListener="#{nuevoAvisoControlador.tipoPuestoAvisoActualizar('Pasantía')}" update="tipoPuestoID" styleClass="hover"/>
                                    <p:menuitem value="Por contrato" actionListener="#{nuevoAvisoControlador.tipoPuestoAvisoActualizar('Por contrato')}" update="tipoPuestoID" styleClass="hover"/>
                                    <p:menuitem value="Por horas" actionListener="#{nuevoAvisoControlador.tipoPuestoAvisoActualizar('Por horas')}" update="tipoPuestoID" styleClass="hover"/>
                                    <p:menuitem value="Primer empleo" actionListener="#{nuevoAvisoControlador.tipoPuestoAvisoActualizar('Primer empleo')}" update="tipoPuestoID" styleClass="hover"/>
                                    <p:menuitem value="Teletrabajo" actionListener="#{nuevoAvisoControlador.tipoPuestoAvisoActualizar('Teletrabajo')}" update="tipoPuestoID" styleClass="hover"/>
                                    <p:menuitem value="Temporario" actionListener="#{nuevoAvisoControlador.tipoPuestoAvisoActualizar('Temporario')}" update="tipoPuestoID" styleClass="hover"/>
                                    <p:menuitem value="Voluntario" actionListener="#{nuevoAvisoControlador.tipoPuestoAvisoActualizar('Voluntario')}" update="tipoPuestoID" styleClass="hover"/>
                                </p:menuButton></td>
                        </tr>
                    </table>                    
                    <p:separator style="background-color:  white; border: 0; background: none"/>
                    <center><p:commandButton value="Publicar aviso" update=":formNuevoAvisoID:growl :formNuevoAvisoID:panelAvisoID" process=":formNuevoAvisoID:panelAvisoID" action="#{nuevoAvisoControlador.guardarAviso}" style="color: #fff;background-color: #1aa3d6 !important; background: none;  background-image: -webkit-linear-gradient(top,#1aa3d6,#1a57a8);font-weight: bold"/></center>
                </p:panel>               
            </h:form>
        </ui:define>                
    </ui:composition>    
</html>
